<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.arconsis.gcm"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.arconsis.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.arconsis.gcm.permission.C2D_MESSAGE"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>


        <receiver android:name=".CloudMessageReceiver" android:permission="com.arconsis.gcm.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.arconsis.gcm"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
